<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="ConexionBD" connectionString="Data Source=sql5113.site4now.net;Initial Catalog=db_ac0671_final;&#xD;&#xA;User ID=db_ac0671_final_admin;Password=examenfinal.1;&#xD;&#xA;Encrypt=True;TrustServerCertificate=True&#xD;&#xA;"
      providerName="System.Data.SqlClient" />
    <add name="ExamenFinalBD.Properties.Settings.ExamenFinalTemporalConnectionString"
      connectionString="Data Source=sql5113.site4now.net;Initial Catalog=db_ac0671_final;User ID=db_ac0671_final_admin;Password=examenfinal.1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


</configuration>